@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';


*, body {
  font-family: Roboto, sans-serif !important;
}

.font-roboto {
  font-family: Roboto, sans-serif !important;
}

.list-unstyled {
  list-style: none;
}

.table-bordered>:not(caption)>*>* {
  border-width: 0 1px;
}